body{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: red;
  
}
#navbar{
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
#navbar a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  
}
@media (max-width: 768px){
  #navbar{
    flex-direction: column;
    padding: 10px;
  }
  
}
.container{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}